<html>
<head>
<title>Patching Report</title>
</head>
<body>

<h2>Server Patch Report</h2>

<table border="1">
<tr>
<th>Host</th>
<th>OS</th>
<th>Old Kernel</th>
<th>New Kernel</th>
<th>Updated</th>
<th>Reboot</th>
</tr>

{% for r in results %}
<tr>
<td>{{ r.host }}</td>
<td>{{ r.os }}</td>
<td>{{ r.old_kernel }}</td>
<td>{{ r.new_kernel }}</td>
<td>{{ r.updated }}</td>
<td>{{ r.reboot }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>
